---
import type { GetStaticPaths, Page } from "astro";
import ArticleCardWideList from "../../components/blocks/article-card-wide-list.astro";
import ArticleCount from "../../components/ui/article-count.astro";
import PageHeader from "../../components/ui/page-header.astro";
import Pagination from "../../components/ui/pagination.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { buildSEO } from "../../lib/build-seo";
import { getPosts } from "../../lib/get-posts";

interface Props {
    page: Page<Awaited<ReturnType<typeof getPosts>>[number]>;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
    const posts = getPosts();

    return paginate(posts, {
        pageSize: 12,
    });
};

const {
    page: postsPage,
    page: { data: postsData },
} = Astro.props;

const seo = buildSEO({ title: "Blog" });
---

<RootLayout seo={seo}>
    <div class="mx-auto max-w-5xl px-6 py-12">
        <PageHeader title="Articles" />

        {postsData && <ArticleCount count={postsData.length} />}

        {postsData && <ArticleCardWideList posts={postsData} />}

        {postsPage && <Pagination page={postsPage} baseUrl="/blog" />}
    </div>
</RootLayout>
