:root {
  --font-sans:
    "Inter Variable",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  --font-mono:
    "JetBrains Mono",
    "Courier New",
    monospace;
}

html {
  font-family: var(--font-sans);
}

pre,
code,
pre.astro-code code span span {
  font-family: var(--font-mono);
}
