---
import ArticleList from "../../components/blocks/article-list.astro";
import TagsSelector from "../../components/blocks/tags-selector.astro";
import PageHeader from "../../components/ui/page-header.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { buildSEO } from "../../lib/build-seo";
import { getPosts } from "../../lib/get-posts";
import { getTags } from "../../lib/get-tags";

const tags = getTags();
const posts = getPosts();
const filteredPosts = posts.sort(
    (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);
const seo = buildSEO({ title: "Articles" });
---

<RootLayout seo={seo}>
    <div class="mx-auto max-w-5xl px-6 py-12">
        <PageHeader title="All Articles" />

        <TagsSelector allTags={tags} currentTag="all" />

        {filteredPosts && <ArticleList posts={filteredPosts} />}
    </div></RootLayout
>
