---
type Props = { title?: string; description?: string };

const { title, description } = Astro.props;
---

<section class="mb-12">
    {title && <h1 class="mb-4">{title}</h1>}

    {
        description && (
            <p class="text-muted-foreground max-w-2xl">{description}</p>
        )
    }
</section>
