---
import type { GetStaticPaths, Page } from "astro";
import Banner from "../../components/blocks/banner.astro";
import ArticleCardWide from "../../components/ui/article-card.astro";
import Pagination from "../../components/ui/pagination.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { buildSEO } from "../../lib/build-seo";
import { getHome } from "../../lib/get-home";
import { getPosts } from "../../lib/get-posts";

interface Props {
    page: Page<Awaited<ReturnType<typeof getPosts>>[number]>;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
    const posts = await getPosts();

    return paginate(posts, {
        pageSize: 9,
    });
};

const { page } = Astro.props;
const posts = page.data;

const home = await getHome();
const seo = await buildSEO({});
---

<RootLayout seo={seo}>
    {home?.data.banner && <Banner {...home.data.banner} />}

    <div
        class="container mx-auto grid gap-6 pt-24 pb-16 md:grid-cols-2 lg:grid-cols-3"
    >
        {posts.map((post) => <ArticleCardWide post={post} />)}
    </div>

    <Pagination page={page} baseUrl="/page" firstPageUrl={"/"} />
</RootLayout>
